nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

ul {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    ul{
        gap: 20px;
        font-size: 14px;
    }
}