.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.projects h2 {
    color: var(--text);
    font-size: 2rem;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1050px;
    margin-top: 60px;
}

.project-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid var(--beige);
    transition: .3s;
    width: 330px;
    min-height: 450px;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.project-card:hover {
    transform: translateY(-8px);
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    flex: 1;
}



.card-container h3 {
    color: var(--brown);
    font-size: 22px;
}

.card-container p {
    color: var(--text-light);
    line-height: 1.4;
}

.projects-btns {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 16px;
}

.live-demo {
    padding: 12px 24px;
    border-radius: 50px;
    background: var(--brown);
    color: var(--cream);
    border: none;
    font-size: 14px;
    transition: .3s;
}

.live-demo:hover {
    transform: translateY(-4px);
}

.icon {
    border: none;
    background: transparent;
    font-size: 28px;
    color: var(--brown);
}

@media (max-width: 768px) {
    .project-cards {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        justify-items: center;
    }

    .projects h2 {
        font-size: 1.5rem;
    }

    .project-card {
        width: 330px;

    }

    .live-demo {
        padding: 10px 24px;
    }

    .icon {
        font-size: 20px;
    }

    .card-container p {
        font-size: 14px;
    }

}