.hero {
    display: flex;
    justify-content: center;
    margin: auto;
    width: min(1100px, 90%);
    min-height: calc(100vh - 80px);
    flex-direction: column;
    gap: 20px;
}


.hero h1 {
    font-size: 5rem;
    line-height: 1;

}

.hero h3 {
    font-size: 2rem;
}


.hero h3 span {
    color: var(--mocha);
    text-shadow: 1px 1px 0 var(--beige);
}

.hero p {
    max-width: 650px;
    line-height: 1.8;
    color: var(--text-light);
    margin: 30px 0;
    font-size: 1.1rem;
}

.btns {
    display: flex;
    gap: 16px;
}

.cv-btn,
.linkedin-btn {
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 50px;
    transition: .3s;
    cursor: pointer;
}

.cv-btn {
    background: var(--brown);
    color: var(--cream);
    border: none;
}

.cv-btn:hover {
    transform: translateY(-4px);
    background: #755645;
    box-shadow: 0 10px 30px rgba(62, 50, 44, 0.08);
    ;
}

.linkedin-btn {
    background: transparent;
    border: 1px solid var(--brown);
    color: var(--brown);
}



.linkedin-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(62, 50, 44, 0.08);
}